<div class="col-sm-3 rightPanel" id="sidebar"> <br>
        <div class="btn-group btn-group-justified"> <a type="button" class="btn btn-primary btnTeam"><i class="glyphicon glyphicon-chevron-left pull-left"></i>Team</a> <a type="button" class="btn btn-red btnClose"><i class="glyphicon glyphicon-remove pull-right"></i>Close</a> </div>
        <!--<div class="actions panel_actions pull-right btnClose"> <a class="box_close fa fa-times"></a> </div>-->
        
        <div class="rtMembers" style="display: none;"> <br>
          <ul class="nav nav-tabs">
            <li class="active"> <a href="#home-3" data-toggle="tab"> <i class="fa fa-home"></i> Active </a> </li>
            <li> <a href="#profile-3" data-toggle="tab"> <i class="fa fa-user"></i> Deactivated </a> </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="home-3">
              <div class="uprofile_wall_posts">			  
                <div class="comment row">
                  <div class="pic-wrapper col-xs-4 col-sm-2 text-center"> <img data-src-retina="../data/profile/avatar-3.png" data-src="../data/profile/avatar-3.png" src="../data/profile/avatar-3.png" alt=""> </div>				  
                  <div class="info-wrapper col-xs-8 col-sm-10">
                    <div class="username"> 
					<span class="bold"><h5 class="mrgBtnzero">Emma Watson</h5></span> 
					</div>
                    <div class="info text-muted mrgTopzero mrgBtnzero info-details"> 
					<p class="mrgBtnzero"><small>@emmawatson</small>&nbsp;<small>11:30 PM Local Time</small>                      
                      Android Developer</p> 
					</div>
                  </div>
                </div>
				 <div class="comment row">
                  <div class="pic-wrapper col-xs-4 col-sm-2 text-center"> <img data-src-retina="../data/profile/avatar-3.png" data-src="../data/profile/avatar-3.png" src="../data/profile/avatar-3.png" alt=""> </div>				  
                  <div class="info-wrapper col-xs-8 col-sm-10">
                    <div class="username"> 
					<span class="bold"><h5 class="mrgBtnzero">Emma Watson</h5></span> 
					</div>
                    <div class="info text-muted mrgTopzero mrgBtnzero info-details"> 
					<p class="mrgBtnzero"><small>@emmawatson</small>&nbsp;<small>11:30 PM Local Time</small>                      
                      Android Developer</p> 
					</div>
                  </div>
                </div>
				
				<div class="comment row">
                  <div class="pic-wrapper col-xs-4 col-sm-2 text-center"> <img data-src-retina="../data/profile/avatar-3.png" data-src="../data/profile/avatar-3.png" src="../data/profile/avatar-3.png" alt=""> </div>				  
                  <div class="info-wrapper col-xs-8 col-sm-10">
                    <div class="username"> 
					<span class="bold"><h5 class="mrgBtnzero">Emma Watson</h5></span> 
					</div>
                    <div class="info text-muted mrgTopzero info-details"> 
					<p><small>@emmawatson</small>&nbsp;<small>11:30 PM Local Time</small>                      
                      Android Developer</p> 
					</div>
                  </div>
                </div>
				
				<div class="comment row">
                  <div class="pic-wrapper col-xs-4 col-sm-2 text-center"> <img data-src-retina="../data/profile/avatar-3.png" data-src="../data/profile/avatar-3.png" src="../data/profile/avatar-3.png" alt=""> </div>				  
                  <div class="info-wrapper col-xs-8 col-sm-10">
                    <div class="username"> 
					<span class="bold"><h5 class="mrgBtnzero">Emma Watson</h5></span> 
					</div>
                    <div class="info text-muted mrgTopzero info-details"> 
					<p><small>@emmawatson</small>&nbsp;<small>11:30 PM Local Time</small>                      
                      Android Developer</p> 
					</div>
                  </div>
                </div>
				
				<div class="comment row">
                  <div class="pic-wrapper col-xs-4 col-sm-2 text-center"> <img data-src-retina="../data/profile/avatar-3.png" data-src="../data/profile/avatar-3.png" src="../data/profile/avatar-3.png" alt=""> </div>				  
                  <div class="info-wrapper col-xs-8 col-sm-10">
                    <div class="username"> 
					<span class="bold"><h5 class="mrgBtnzero">Emma Watson</h5></span> 
					</div>
                    <div class="info text-muted mrgTopzero info-details"> 
					<p><small>@emmawatson</small>&nbsp;<small>11:30 PM Local Time</small>                      
                      Android Developer</p> 
					</div>
                  </div>
                </div>
				
				<div class="comment row">
                  <div class="pic-wrapper col-xs-4 col-sm-2 text-center"> <img data-src-retina="../data/profile/avatar-3.png" data-src="../data/profile/avatar-3.png" src="../data/profile/avatar-3.png" alt=""> </div>				  
                  <div class="info-wrapper col-xs-8 col-sm-10">
                    <div class="username"> 
					<span class="bold"><h5 class="mrgBtnzero">Emma Watson</h5></span> 
					</div>
                    <div class="info text-muted mrgTopzero info-details"> 
					<p><small>@emmawatson</small>&nbsp;<small>11:30 PM Local Time</small>                      
                      Android Developer</p> 
					</div>
                  </div>
                </div>
				
				<div class="comment row">
                  <div class="pic-wrapper col-xs-4 col-sm-2 text-center"> <img data-src-retina="../data/profile/avatar-3.png" data-src="../data/profile/avatar-3.png" src="../data/profile/avatar-3.png" alt=""> </div>				  
                  <div class="info-wrapper col-xs-8 col-sm-10">
                    <div class="username"> 
					<span class="bold"><h5 class="mrgBtnzero">Emma Watson</h5></span> 
					</div>
                    <div class="info text-muted mrgTopzero info-details"> 
					<p><small>@emmawatson</small>&nbsp;<small>11:30 PM Local Time</small>                      
                      Android Developer</p> 
					</div>
                  </div>
                </div>
				
            
              </div>
            </div>
            <div class="tab-pane fade" id="profile-3">
              <p>That said, in some situations it may be desirable to turn this functionality off. Therefore, we also provide the ability to disable the data attribute API by unbinding all events on the document namespaced with data-api. </p>
            </div>
          </div>
        </div>
        <br>
        <div class="rtProfile">
          <div class="uprofile-image"> <img alt="" src="../images/user.png" class="img-responsive"> </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="content-body">
                <div class="uprofile-name">
                  <h3> Sharukh Khan <span class="uprofile-status online"></span> </h3>
                  <p class="uprofile-title">Bollywood Actor</p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="text-center"> <i class="fa fa-phone icon-xs icon-rounded icon-primary inviewport animated animated-delay-400ms visible rollIn" data-vp-add-class="visible rollIn"></i> <i class="fa fa-paper-plane icon-xs icon-rounded icon-primary inviewport animated animated-delay-400ms visible rollIn" data-vp-add-class="visible rollIn"></i> <i class="fa fa-file icon-xs icon-rounded icon-primary inviewport animated animated-delay-400ms visible rollIn" data-vp-add-class="visible rollIn"></i> <i class="fa fa-user icon-xs icon-rounded icon-primary inviewport animated animated-delay-400ms visible rollIn" data-vp-add-class="visible rollIn"></i> </div>
              <br>
              <table class="table small">
                <tbody>
                  <tr>
                    <td class="text-muted">User Name</td>
                    <td>ramachandra</td>
                  </tr>
                  <tr>
                    <td class="text-muted">Email</td>
                    <td>ramac@gmail.com</td>
                  </tr>
                  <tr>
                    <td class="text-muted">Timezone</td>
                    <td>9:52 Local</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>