<div class="page-topbar topBar">
    <div></div>
    <div class="quick-area">
      <div class="row">
        <div class="col-md-4 col-md-offset-2"> <br>
          <b>@{{userName}}</b><br>
          <span></span> </div>
        <div class="col-md-6">
          <div class="pull-right">
            <ul class="info-menu left-links list-inline list-unstyled">
              <li class="actions panel_actions pull-right btnClose"> <a href="#" class="box_close fa fa-columns"></a> </li>
              <li class="message-toggle-wrapper showopacity"> <a href="#" data-toggle="dropdown" class="toggle"> <i class="fa fa-envelope"></i> </a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>