<div class="col-sm-9 fixedscroll chatCont" id="Messages">
        <div class="row ">
          <div class="col-xs-12">
            <div class="search_data">
              <div class="vertical">
                <div class="tab-pane ps-container ps-active-y">
                  <ul class="media-list " style="margin-top:15px;">
                    <li class="media usrinput">
                      <div class="media-body">
                        <div class="media"> <a class="pull-left" href="#"> <img class="media-object img-circle " src="https://app.teamsupport.com/dc/1078/UserAvatar/1839999/48/1470773165634"> </a>
                          <div class="media-body"> <span><small><b>Alex Deo </b></small> </span><span class="text-muted"><small>| 23rd June at 5:00pm</small></span><br>
                            <p>Donec sit amet ligula enim. Duis vel condimentum massa.
                              Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                              Duis vel condimentum massa.
                              Donec sit amet ligula enim. Duis vel condimentum massa.</p>
                            <div class="btn-group btn-corner chat-option" style="display: none;"> <a type="button" class="btn btn-primary btn-xs"><span class="fa fa-smile-o"></span></a> <a type="button" class="btn btn-red btn-xs"><span class="fa fa-share"></span></a> <a type="button" class="btn btn-red btn-xs"><span class="fa fa-ellipsis-v"></span></a> </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="media usrinput">
                      <div class="media-body">
                        <div class="media"> <a class="pull-left" href="#"> <img class="media-object img-circle " src="https://app.teamsupport.com/dc/1078/UserAvatar/2733968/48/1470773158079"> </a>
                          <div class="media-body"> <span><small><b>Alex Deo </b></small> </span><span class="text-muted"><small>| 23rd June at 5:00pm</small></span><br>
                            <p> Donec sit amet ligula enim. Duis vel condimentum massa.
                              Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                              Duis vel condimentum massa.
                              Donec sit amet ligula enim. Duis vel condimentum massa.</p>
                            <div class="btn-group btn-corner chat-option" style="display: none;"> <a type="button" class="btn btn-primary btn-xs"><span class="fa fa-smile-o"></span></a> <a type="button" class="btn btn-red btn-xs"><span class="fa fa-share"></span></a> <a type="button" class="btn btn-red btn-xs"><span class="fa fa-ellipsis-v"></span></a> </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <br>
                  <hr>
                  <div style="margin:auto auto; width:45px; top: -32px; position:relative; background:#fff; padding:0px 5px; text-align:center"> Today</div>
                <chat-message></chat-message>
                <!--   <ul class="media-list" style="margin-top:15px;">
                    <li class="media usrinput">
                      <div class="media-body">
                        <div class="media"> <a class="pull-left" href="#"> <img class="media-object img-circle " src="https://app.teamsupport.com/dc/1078/UserAvatar/1839999/48/1470773165634"> </a>
                          <div class="media-body"> <span><small><b>Alex Deo </b></small> </span><span class="text-muted"><small>| 23rd June at 5:00pm</small></span><br>
                            <p>Donec sit amet ligula enim. Duis vel condimentum massa.
                              Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                              Duis vel condimentum massa.
                              Donec sit amet ligula enim. Duis vel condimentum massa.</p>
                            <div class="btn-group btn-corner chat-option" style="display: none;"> <a type="button" class="btn btn-primary btn-xs"><span class="fa fa-smile-o"></span></a> <a type="button" class="btn btn-red btn-xs"><span class="fa fa-share"></span></a> <a type="button" class="btn btn-red btn-xs"><span class="fa fa-ellipsis-v"></span></a> </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="media usrinput">
                      <div class="media-body">
                        <div class="media"> <a class="pull-left" href="#"> <img class="media-object img-circle " src="https://app.teamsupport.com/dc/1078/UserAvatar/1839999/48/1470773165634"> </a>
                          <div class="media-body"> <span><small><b>Alex Deo </b></small> </span><span class="text-muted"><small>| 23rd June at 5:00pm</small></span><br>
                            <p>Donec sit amet ligula enim. Duis vel condimentum massa.
                              Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                              Duis vel condimentum massa.
                              Donec sit amet ligula enim. Duis vel condimentum massa.</p>
                            <div class="btn-group btn-corner chat-option"> <a type="button" class="btn btn-primary btn-xs"><span class="fa fa-smile-o"></span></a> <a type="button" class="btn btn-red btn-xs"><span class="fa fa-share"></span></a> <a type="button" class="btn btn-red btn-xs"><span class="fa fa-ellipsis-v"></span></a> </div>
                          </div>
                        </div>
                      </div>
                    </li>
					<li class="media usrinput">
                      <div class="media-body">
                        <div class="media"> <a class="pull-left" href="#"> <img class="media-object img-circle " src="https://app.teamsupport.com/dc/1078/UserAvatar/1839999/48/1470773165634"> </a>
                          <div class="media-body"> <span><small><b>Alex Deo </b></small> </span><span class="text-muted"><small>| 23rd June at 5:00pm</small></span><br>
                            <p>Donec sit amet ligula enim. Duis vel condimentum massa.
                              Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                              Duis vel condimentum massa.
                              Donec sit amet ligula enim. Duis vel condimentum massa.</p>
                            <div class="btn-group btn-corner chat-option"> <a type="button" class="btn btn-primary btn-xs"><span class="fa fa-smile-o"></span></a> <a type="button" class="btn btn-red btn-xs"><span class="fa fa-share"></span></a> <a type="button" class="btn btn-red btn-xs"><span class="fa fa-ellipsis-v"></span></a> </div>
                          </div>
                        </div>
                      </div>
                    </li>
					<li class="media usrinput">
                      <div class="media-body">
                        <div class="media"> <a class="pull-left" href="#"> <img class="media-object img-circle " src="https://app.teamsupport.com/dc/1078/UserAvatar/1839999/48/1470773165634"> </a>
                          <div class="media-body"> <span><small><b>Alex Deo </b></small> </span><span class="text-muted"><small>| 23rd June at 5:00pm</small></span><br>
                            <p>Donec sit amet ligula enim. Duis vel condimentum massa.
                              Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                              Duis vel condimentum massa.
                              Donec sit amet ligula enim. Duis vel condimentum massa.</p>
                            <div class="btn-group btn-corner chat-option"> <a type="button" class="btn btn-primary btn-xs"><span class="fa fa-smile-o"></span></a> <a type="button" class="btn btn-red btn-xs"><span class="fa fa-share"></span></a> <a type="button" class="btn btn-red btn-xs"><span class="fa fa-ellipsis-v"></span></a> </div>
                          </div>
                        </div>
                      </div>
                    </li>
					<li class="media usrinput">
                      <div class="media-body">
                        <div class="media"> <a class="pull-left" href="#"> <img class="media-object img-circle " src="https://app.teamsupport.com/dc/1078/UserAvatar/1839999/48/1470773165634"> </a>
                          <div class="media-body"> <span><small><b>Alex Deo </b></small> </span><span class="text-muted"><small>| 23rd June at 5:00pm</small></span><br>
                            <p>Donec sit amet ligula enim. Duis vel condimentum massa.
                              Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                              Duis vel condimentum massa.
                              Donec sit amet ligula enim. Duis vel condimentum massa.</p>
                            <div class="btn-group btn-corner chat-option"> <a type="button" class="btn btn-primary btn-xs"><span class="fa fa-smile-o"></span></a> <a type="button" class="btn btn-red btn-xs"><span class="fa fa-share"></span></a> <a type="button" class="btn btn-red btn-xs"><span class="fa fa-ellipsis-v"></span></a> </div>
                          </div>
                        </div>
                      </div>
                    </li>
					<li class="media usrinput">
                      <div class="media-body">
                        <div class="media"> <a class="pull-left" href="#"> <img class="media-object img-circle " src="https://app.teamsupport.com/dc/1078/UserAvatar/1839999/48/1470773165634"> </a>
                          <div class="media-body"> <span><small><b>Alex Deo </b></small> </span><span class="text-muted"><small>| 23rd June at 5:00pm</small></span><br>
                            <p>Donec sit amet ligula enim. Duis vel condimentum massa.
                              Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                              Duis vel condimentum massa.
                              Donec sit amet ligula enim. Duis vel condimentum massa.</p>
                            <div class="btn-group btn-corner chat-option"> <a type="button" class="btn btn-primary btn-xs"><span class="fa fa-smile-o"></span></a> <a type="button" class="btn btn-red btn-xs"><span class="fa fa-share"></span></a> <a type="button" class="btn btn-red btn-xs"><span class="fa fa-ellipsis-v"></span></a> </div>
                          </div>
                        </div>
                      </div>
                    </li>
					<li class="media usrinput">
                      <div class="media-body">
                        <div class="media"> <a class="pull-left" href="#"> <img class="media-object img-circle " src="https://app.teamsupport.com/dc/1078/UserAvatar/1839999/48/1470773165634"> </a>
                          <div class="media-body"> <span><small><b>Alex Deo </b></small> </span><span class="text-muted"><small>| 23rd June at 5:00pm</small></span><br>
                            <p>Donec sit amet ligula enim. Duis vel condimentum massa.
                              Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                              Duis vel condimentum massa.
                              Donec sit amet ligula enim. Duis vel condimentum massa.</p>
                            <div class="btn-group btn-corner chat-option"> <a type="button" class="btn btn-primary btn-xs"><span class="fa fa-smile-o"></span></a> <a type="button" class="btn btn-red btn-xs"><span class="fa fa-share"></span></a> <a type="button" class="btn btn-red btn-xs"><span class="fa fa-ellipsis-v"></span></a> </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul> -->
                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 600px; right: 3px;"><div class="ps-scrollbar-y" style="top: 0px; height: 487px;"></div></div></div>
              </div>
              <div class="input-group primary textEntry"> <span class="input-group-addon"> <span class="arrow"></span> <i class="fa fa-user"></i> </span>
                <input type="text" class="form-control" placeholder="Please enter message">
              </div>
            </div>
          </div>
        </div>
      </div>	